nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 150px;
    margin-right: 1rem;
}

.logo h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-right: 1rem;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.button {
    padding: 0.5rem 1rem;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .text {
    width: 40%;
  }
  
  .image {
    width: 50%;
    height: auto;
  }
  
  h1 {
    font-size: 3em;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.2em;
    line-height: 1.5;
  }
  
  button {
    background-color: black;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    font-size: 1.2em;
    cursor: pointer;
  }
  
  .anonymous {
    display: inline-block;
    background-color: #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8em;
    margin-left: 10px;
  }  
  
  .footer{
    display: flex;
  }